<table class="controls">
<tr>
	<td>
		<span class="label">Application:</span>
		<select name="application_id">
		<option value="">[ all ]</option>
		<tmpl_loop name="application">
			<option value='<tmpl_var name="id">' <tmpl_if name="selected">selected="1"</tmpl_if>><tmpl_var name="name"></option>
		</tmpl_loop>
		</select>
	</td>
	<td>
		<span class="label">Session:</span>
		<select name="session_id">
		<option value="">[ all ]</option>
		<tmpl_loop name="sessions">
			<option value='<tmpl_var name="id">' <tmpl_if name="selected">selected="1"</tmpl_if>><tmpl_var name="name"></option>
		</tmpl_loop>
		</select>
	</td>
	<td>
		<span class="label">From Date:</span>
		<input type="text" name="from_date" value='<tmpl_var name="from_date">'/>
	</td>
	<td>
		<span class="label">To Date:</span>
		<input type="text" name="to_date" value='<tmpl_var name="to_date">'/>
	</td>
</tr>
</table>

<tmpl_if requests>
	<table>
	<tr>
		<th></th>
		<th>Time</th>
		<th>URL</th>
		<th>Status</th>
	</tr>
	<tmpl_loop requests>
		<tr>
			<td><a href="/debug/debug?app_id=<tmpl_var app_id>&session_id=<tmpl_var session_id>&request_id=<tmpl_var time_raw>">Details</a></td>
			<td><tmpl_var time></td>
			<td><tmpl_var url></td>
			<td><tmpl_var result></td>
		</tr>
		<tr>
			<td colspan="4"></td>
		</tr>
	</tmpl_loop>
	</table>
<tmpl_else>
	<h1>No such id</h1>
</tmpl_if>
