<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<script type="text/javascript" src="<TMPL_VAR DEBUG_ROOT>/ajax.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="<TMPL_VAR DEBUG_ROOT>/style.css">
</head>
<body>
<tmpl_var _MAIN_BODY_>
</body>
</html>
