#!/usr/bin/make -f
include /usr/share/quilt/quilt.make

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build
	touch $@

clean: unpatch
	dh $@

install: install-stamp
install-stamp: build-stamp
	dh install
	touch $@
	mkdir -p debian/libapache-voodoo-perl/etc/perl
	cp -a debian/config-dir/* debian/libapache-voodoo-perl/etc/perl

binary-arch:

binary-indep: install
	dh $@

binary: binary-arch binary-indep

override_dh_clean:
	dh_clean -d
	rm -f debian/files debian/*substvars debian/*.debhelper debian/*debhelper.log
	find .  \( \( -type f -a \( -name '#*#' -o -name '.*~' -o -name '*~' -o -name DEADJOE -o -name '*.orig' -o -name '*.rej' -o -name '*.bak' -o -name '.*.orig' -o -name .*.rej -o -name '.SUMS' -o -name TAGS -o \( -path '*/.deps/*' -a -name '*.P' \) \)  \) -o \( -type d -a -name autom4te.cache -prune \) \) -printf '%P\n' | xargs -I{} sh -c "test \`grep -ah '^{}$$' MANIFEST | wc -l\` -eq 0 && rm -rf '{}'"; exit 0

.PHONY: binary binary-arch binary-indep install clean build
