#!/usr/bin/make -f
include /usr/share/quilt/quilt.make

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build
	touch $@

clean: unpatch
	dh $@

install: install-stamp
install-stamp: build-stamp
	dh install
	touch $@
	mkdir -p debian/libapache-voodoo-perl/etc/perl
	cp -a debian/config-dir/* debian/libapache-voodoo-perl/etc/perl

binary-arch:

binary-indep: install
	dh $@

binary: binary-arch binary-indep

override_dh_clean:
	dh_clean -X t/app_newstyle/C/a/controller.pm.orig -X t/app_newstyle/V/a/view.pm.orig -X t/app_newstyle/M/a/model.pm.orig

.PHONY: binary binary-arch binary-indep install clean build
