<div class="voodooDbError">

<h1>DB Error</h1>
<table>
<tr>
	<td>TIME:</td>
	<td><TMPL_VAR time></td>
</tr>
<tr>
	<td>PACKAGE:</td>
	<td><TMPL_VAR package></td>
</tr>
<tr>
	<td>FILE:</td>
	<td><TMPL_VAR file></td>
</tr>
<tr>
	<td>SUBROUTINE:</td>
	<td><TMPL_VAR subroutine></td>
</tr>
<tr>
	<td>Line Number:</td>
	<td><TMPL_VAR line></td>
</tr>
<tr>
	<td colspan="2">
		<TMPL_VAR error>
	</td>
</tr>
</table>

<h2>Query</h2>
<pre>
<TMPL_VAR query>
</pre>

</div>
